<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.com.myblog.mapper.UserTagMapper">

    <resultMap id="userTagVO" type="UserTagVO">
        <id property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
    </resultMap>

    <select id="selectUserTagVOById" resultMap="userTagVO">
        select tag_id,tag_name from user_tag where tag_user_id=#{userId}
    </select>

</mapper>